.pokemonSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.pokemonList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  background-color: #2E2E2E;
}

.mat-list-base {
  padding-top: 0 !important;
}

.pokemonSearchContainer {
  width: 15rem;
}

.listItem {
  border-bottom: 2px #333 solid;
  height: 98px !important;

  &__container {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__img {
    height: 96px !important;
    width: 96px !important;
  }

  &__name {
    color: white;
  }
}

.pokemonName {
  text-align: left;
  width: 12ch;
}

.nextButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
