<div
  *ngIf="(activeMenu | async) === 'Home'"
  class="homeContainer"
>
  <button
    *ngIf="(currentHunts | async).length === 0"
    mat-raised-button
    color="primary"
    (click)="addANewHunt()"
  >Add a New Hunt</button>
  <mat-card
    *ngFor="let hunt of (currentHunts | async)"
    class="homeCard"
  >
    <mat-card-header class="cardHeader">
      <img [src]="hunt.pokemonImgUrl" [alt]="hunt.species">
      <div>
        <mat-card-title class="cardHeader__title">{{hunt.species}}</mat-card-title>
        <mat-card-subtitle>{{hunt.foundOnGame}}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <div class="cardContent__count">Count: 50000</div>
    </mat-card-content>
    <mat-card-actions class="cardActions">
      <button
        mat-raised-button
        color="primary"
        class="cardActions__button"
      >Select</button>
      <button
        mat-raised-button
        color="warn"
        (click)="onDeleteHunt(hunt)"
        class="cardActions__button"
      >Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- species: string | null;
huntStarted: Date | null;
capturedOn: Date | null;
count: number | null;
foundOnGame: string | null; // todo add games
method: methodsType | null;
pokemonImgUrl: string | null; -->
