<mat-drawer-container class="sidenav">

  <mat-drawer
    #drawer
    mode="side"
    class="sidenav__drawer"
    [(opened)]="menuOpen"
  >
    <mat-selection-list
      class="sidenav__list"
      [multiple]="false"
      (selectionChange)="menuOpen = !menuOpen"
    >
      <mat-list-option
        class="sidenav__button"
        [class.btnActive]="(activeMenu$ | async) === navItem"
        (click)="onMenuClick(navItem)"
        *ngFor="let navItem of menus"
        [disabled]="decideDisabled(navItem)"
      >{{navItem}}</mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="content__container">
    <div class="navButton__container">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        color="primary"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="pages__container">
      <app-home></app-home>
      <app-new-hunt></app-new-hunt>
      <app-prev-hunt></app-prev-hunt>
      <app-selected-hunt></app-selected-hunt>
      <app-edit-hunt></app-edit-hunt>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
