.sidenav {
  background-color: #333333;
  color: #ccc;
  min-height: 100vh;

  &__drawer {
    background-color: #444;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 14rem;
    row-gap: 2px;
  }

  &__button {
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    cursor: pointer;
    color: white;
    background-color: #333333;
    transition: all 100ms linear;

    &:disabled {
      cursor: default;
    }
  }
}

.navButton {
  &__container {
    position: fixed;
  }
}

.btnActive {
  border-left: 8px solid white !important;
}

.mat-list-item {
  margin: 0 !important;
}
