<mat-drawer-container class="sidenav">
  <mat-drawer
    #drawer
    mode="side"
    class="sidenav__drawer"
    [style.position]="'fixed'"
    [(opened)]="menuOpen"
  >
    <mat-selection-list
      class="sidenav__list"
      [multiple]="false"
      (selectionChange)="menuOpen = !menuOpen"
    >
      <mat-list-option
        class="sidenav__button"
        [class.btnActive]="(activeMenu$ | async) === navItem"
        (click)="onMenuClick(navItem)"
        *ngFor="let navItem of menus"
        [disabled]="decideDisabled(navItem)"
      >{{navItem}}</mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="content__container">
    <div class="navButton__container">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        color="primary"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="pages__container">
      <app-home *ngIf="(activeMenu$ | async) === activeMenuEnum.Home"></app-home>
      <app-new-hunt *ngIf="(activeMenu$ | async) === activeMenuEnum.New"></app-new-hunt>
      <app-prev-hunt *ngIf="(activeMenu$ | async) === activeMenuEnum.Previous"></app-prev-hunt>
      <app-selected-hunt *ngIf="(activeMenu$ | async) === activeMenuEnum.Current"></app-selected-hunt>
      <app-edit-hunt *ngIf="(activeMenu$ | async) === activeMenuEnum.Editing"></app-edit-hunt>
      <app-settings *ngIf="(activeMenu$ | async) === activeMenuEnum.Settings"></app-settings>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
