<!--The content below is only a placeholder and can be replaced.-->

<!-- nav bar -->
<div class="navContainer">
  <button
    (click)="onCounterClick()"
    id="counterButton"
    class="menuSelector btn {{(activeMenu === 'counter') ? 'btnActive' : ''}}"
  >Counter</button>
  <button
    (click)="onPokemonClick()"
    id="pokemonButton"
    class="menuSelector btn {{(activeMenu === 'pokemon') ? 'btnActive' : ''}}"
  >Pokemon</button>
</div>
<!-- counter -->
<div *ngIf="activeMenu === 'counter'" class="container">
  <h1>Shiny Hunt Counter</h1>
  <p>Intervals of: {{interval}}</p>
  <div>
    <button class="btn" (click)="onIntervalIncrease()">+</button>
    <button class="btn" (click)="onIntervalDecrease()">-</button>
  </div>
  <p class="count {{(countAnimation) ? 'countAnimation' : ''}}">Count: {{currentCount}}</p>
  <div class="counterButtons">
    <img
      (click)="foundAShiny()"
      class="shinyButton"
      src="../assets/shiny_sparkles.png"
      alt="Found a shiny button"
    >
    <button class="counterDecreaseBtn" (click)="onCounterDecrease()">-</button>
    <button class="counterIncreaseBtn" (click)="onCounterIncrease()">+</button>
  </div>
  <button (click)="onResetCounter()" class="btn resetButton">reset</button>
  <p>Click the spacebar to increment the counter.</p>
</div>
<!-- pokemon found -->
<div *ngIf="activeMenu === 'pokemon'" class="container">
  <button (click)="onToggleShinyForm()" class="btn">Add Shiny</button>
  <form *ngIf="addShinyOpen" (submit)="onShinySubmit($event)">
    <div class="inputContainer">
      <label for="pokemonName">Pokemon Name</label>
      <input
        [formControl]="pokemonName"
        class="btn"
        id="pokemonName"
        type="text"
      >
    </div>
    <div class="inputContainer">
      <label for="pokemonName">Pokemon Encounters</label>
      <input
        [formControl]="pokemonEncounters"
        class="btn"
        id="pokemonName"
        type="number"
      >
    </div>
    <button class="btn" type="submit">Add</button>
  </form>
  <h2>Pokemon Found:</h2>
  <div *ngFor="let pokemon of pokemonFound" class="pokemonFoundContainer">
    <p>{{pokemon.pokemonSpecies}}: {{pokemon.encounterCount}}</p>
    <button
      (click)="onPokemonDelete(pokemon)"
      class="btn"
    >Delete</button>
  </div>
</div>
