.methodContainer {
  display: flex;
  justify-content: center;
}

.method {
  margin-top: 3rem;

  &__listItem {
    width: clamp(11rem, 80vw, 25rem) !important;
    color: white;
    background-color: #2E2E2E;
    border-bottom: 3px #333 solid;
  }
}

.backButton {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.nextButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
