.selectedHunt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  row-gap: 1rem;

  &__huntContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__menu {
    position: absolute;
    top: -64px;
    right: 34px;
  }
}

.hunt {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 22rem;
  position: relative;

  &--tla {
    align-items: flex-start !important;
  }

  &__gameImg {
    height: auto;
    width: 11rem;
    image-rendering: auto !important;
  }

  &__pokemonImg {
    height: 96px;
    width: 96px;
  }

  &__count {
    color: white !important;
    font-size: 3rem;
    font-family: 'Press Start 2P';
    transition: all;
  }

  &__binomial {
    height:fit-content;
  }
}

.intervalButtons {
  display: flex;
  justify-content: space-between;
  column-gap: 2px;
}


.countAnimation {
  transform: scale(1.25);
}

.counterButtons {
  width: min-content;
  margin-inline: auto;
  // margin-top: 2rem;
}

.counterDecreaseBtn {
  font-size: 3rem;
  height: 7.5rem;
  width: 15rem;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  color: white;
  background-color: #cb433f;
  border: 2px solid #333333;
}

.counterIncreaseBtn {
  font-size: 3rem;
  height: 7.5rem;
  width: 15rem;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border: 2px solid #333333;
}

.shinyButton {
  width: 2rem;
  height: auto;
  border: 2px solid grey;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  padding: .5rem;
}

.shinyButton:active {
  border-color: white;
}

.phase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #373737;
  border-radius: 0.5rem;
  width: 19rem;

  &__btn-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 1rem;
  }

  &__btn {
    height: 2.5rem;
  }
}

.interval-shiny-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
