<div *ngIf="(activeMenu | async) === 'Previous'" class="container">
  <button (click)="onToggleShinyForm()" class="btn">Add Shiny</button>
  <form *ngIf="addShinyOpen | async" (submit)="onShinySubmit($event)">
    <div class="inputContainer">
      <label>Pokemon Name</label>
      <input
      [formControl]="species"
      class="btn btn--input"
      id="pokemonName"
      type="text">
    </div>
    <div class="inputContainer">
      <label>Hunt Count</label>
      <input
      [formControl]="count"
      class="btn btn--input"
      id="count"
      type="number">
    </div>
    <div class="inputContainer">
      <label>Game</label>
      <input
      [formControl]="foundOnGame"
      class="btn btn--input"
      id="foundOnGame"
      type="text">
    </div>
    <div class="inputContainer">
      <label>Method</label>
      <input
      [formControl]="method"
      class="btn btn--input"
      id="method"
      type="text">
    </div>
    <button class="btn" type="submit">Add</button>
  </form>
  <h2>Pokemon Found:</h2>
  <div *ngIf="(pokemonFound | async) !== null">
    <div *ngFor="let pokemon of (pokemonFound | async); let index = index" class="pokemonFoundContainer">
      <p class="pokemonSpecies">{{pokemon.species}}</p>
      <p class="pokemonCount">{{pokemon.count}}</p>
      <p class="pokemonGame">{{pokemon.foundOnGame}}</p>
      <p class="pokemonMethod">{{pokemon.method}}</p>
      <button
      (click)="onPokemonDelete(pokemon)"
      class="pokemonFound--btn"
      >Delete</button>
    </div>
  </div>
</div>
