<div *ngIf="(activeMenu | async) === 'Previous'" class="container">
  <button
    (click)="onToggleShinyForm()"
    mat-raised-button
    color="primary"
  >Add Shiny</button>
  <form
    *ngIf="addShinyOpen | async"
    (submit)="onShinySubmit($event)"
  >
    <mat-form-field appearance="fill">
      <mat-label>Pokemon Name</mat-label>
      <input
        matInput
        [formControl]="species"
        id="pokemonName"
        type="text"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hunt Count</mat-label>
      <input
        matInput
        [formControl]="count"
        id="count"
        type="number"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Game</mat-label>
      <mat-select
        [(ngModel)]="foundOnGame"
        [ngModelOptions]="{ standalone: true }"
        name="game"
      >
        <mat-option
          *ngFor="let game of allGames"
          matInput
          id="foundOnGame"
          [value]="game"
        >{{game}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Method</mat-label>
      <mat-select
        [(ngModel)]="method"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option
          *ngFor="let method of allMethods"
          matInput
          id="method"
          [value]="method"
        >{{method}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="btn"
      type="submit"
      mat-raised-button
      color="primary"
    >Add</button>
  </form>
  <h2>Pokemon Found</h2>
  <div
    *ngIf="(pokemonFound | async).length !== 0"
    class="pokemonFoundContainer"
  >
    <mat-card *ngFor="let pokemon of (pokemonFound | async)" class="pokemonFound">
      <img *ngIf="pokemon.pokemonImgUrl" [src]="pokemon.pokemonImgUrl" [alt]="pokemon.species">
      <div class="cardInfoContainer">
        <p class="pokemonSpecies cardInfo">{{pokemon.species}}</p>
        <p class="pokemonCount cardInfo">{{pokemon.count}}</p>
      </div>
      <div class="cardInfoContainer">
        <p class="pokemonGame cardInfo">{{pokemon.foundOnGame}}</p>
        <p class="pokemonMethod cardInfo">{{pokemon.method}}</p>
      </div>
      <div class="pokemonFound__actions">
        <button
          mat-raised-button
          color="warn"
          (click)="onPokemonDelete(pokemon)"
          class="pokemonFound--btn"
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
        >Delete</button>
        <ng-template
          *ngIf="pokemon === selectedHunt"
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="isDeleteConfirmationOpen"
        >
          <app-pop-over
            (onCancel)="onDeleteCancel()"
            (onConfirm)="onDeleteConfirm(pokemon)"
            [message]="'Are you sure? Your count will be lost forever...'"
          ></app-pop-over>
        </ng-template>
      </div>
    </mat-card>
  </div>
</div>
