form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemonFoundContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.pokemonFound {
  max-width: 40rem;
  width: clamp(10rem, 80vw, 12rem);
  background-color: #444;
  color: white;

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.cardInfoContainer {
  display: flex;
  justify-content: space-between;
}

.cardInfo {
  width: fit-content;
}
