.selectedHunt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  row-gap: 1rem;

  &__gameImg {
    height: auto;
    width: 8rem;
  }

  &__pokemonImg {
    height: 10rem;
    width: 10rem;
  }

  &__count {
    font-size: 2rem;
    transition: all;
  }
}

.intervalButtons {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}


.countAnimation {
  transform: scale(1.25);
}

.counterButtons {
  width: min-content;
  margin-inline: auto;
  margin-top: 2rem;
}

.counterDecreaseBtn {
  font-size: 3rem;
  height: 7.5rem;
  width: 15rem;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  color: white;
  background-color: #cb433f;
  border: 2px solid #333333;
}

.counterIncreaseBtn {
  font-size: 3rem;
  height: 7.5rem;
  width: 15rem;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border: 2px solid #333333;
}

.shinyButton {
  position: absolute;
  width: 2rem;
  height: auto;
  border: 2px solid grey;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  padding: .5rem;
  transform: translateX(calc(14rem - 4px)) translateY(-2rem);
}

.shinyButton:active {
  border-color: white;
}
