<div *ngIf="(activeMenu | async) === 'Current'" class="selectedHunt">
  <h1>Now Hunting: {{(selectedHunt$ | async)?.species}}</h1>
  <img src="{{gameImgUrl}}">
  <img
    *ngIf="(selectedHunt$ | async)?.pokemonImgUrl"
    src="{{ (selectedHunt$ | async)?.pokemonImgUrl }}"
  >
  <p
    class="selectedHunt__count {{(countAnimation) ? 'countAnimation' : ''}}"
  >{{(selectedHunt$ | async)?.count}}</p>
  <p>Intervals of: {{(selectedHunt$ | async)?.interval}}</p>
  <div class="intervalButtons">
    <button (click)="onIntervalIncrease()">+</button>
    <button (click)="onIntervalDecrease()">-</button>
  </div>
  <div class="counterButtons">
    <img
      (click)="foundAShiny()"
      class="shinyButton"
      src="../assets/shiny_sparkles.png"
      alt="Found a shiny button"
    >
    <button class="counterDecreaseBtn" (click)="onCounterDecrease()">-</button>
    <button class="counterIncreaseBtn" (click)="onCounterIncrease()">+</button>
  </div>
  <button (click)="onResetCounter()" class="btn resetButton">reset</button>
  <p>Click the spacebar to increment the counter.</p>
</div>
