.gameSelectContainer {
  display: flex;
  justify-content: center;
}

.gameSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 4rem;
  max-width: 480px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  &__listItem {
    color: white;
    background-color: #2E2E2E;
    width: 10rem !important;
    text-align: start;
  }
}

.backButton {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.nextButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
